/*
0-600px     =   phone
600-900px   =   tablet-portrait
900-1200px  =   tablet-landscape
1200-1800px =   default styles
1800px +    =   BIG desktop



$breakpoint argument choices:

- phone
- tab-port
- tab-lands
- big desktop

ORDER: Base + typography > general layout + grid> page layout > components

 1em = 16px
*/
@keyframes text-shadow {
  0% {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0);
    transform: translate(6rem, 6rem);
    opacity: 0;
    filter: blur(2px); }
  100% {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translate(0rem, 0rem);
    opacity: 1;
    filter: blur(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* instead of making border-box global
    make it inheritable, to make it easier to change.  */ }

html {
  /* changes the default browser font size
    to make converting px to rem easier math wise */
  font-size: 62.5%;
  /* divide the fontsize you want by 16
    in this case 10/16 = 62.5 */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #0a93a0;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  animation: text-shadow 3s ease-out;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    transition: all 1s; }
    .heading-primary--main:hover {
      color: #ffb700; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    transition: all 1s; }
    .heading-primary--sub:hover {
      color: #ffb700; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  background-image: linear-gradient(to right, #ffb700, #ec9508);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.border-round {
  border: 2px solid #ffa200;
  padding: 5rem;
  border-radius: 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* transition goes on the element, not the hover property  */
  transition: all .2s;
  position: relative;
  font-size: 4rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    background-color: inherit;
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--arrow, .btn:link, .btn:focus {
  color: #0a93a0;
  font-size: 6rem;
  filter: brightness(0.8); }
  .btn--arrow:hover, .btn:link:hover, .btn:focus:hover {
    box-shadow: none;
    filter: brightness(0.6); }
  .btn--arrow:active, .btn--arrow:focus, .btn:link:active, .btn:link:focus, .btn:focus:active, .btn:focus:focus {
    box-shadow: none;
    transform: translateY(-0.3rem) scale(1.1);
    filter: brightness(0.8); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ffa200;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffa200;
  padding: 3px;
  transform: all .2s; }

.btn-text:hover {
  background-color: #ffa200;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.arrow-button {
  border: solid #ffa200;
  border-width: 0 1.5rem 1.5rem 0;
  display: inline-block;
  padding: 3rem; }
  .arrow-button__right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 6rem * 2); }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(41, 255, 255, 0.8), rgba(10, 147, 160, 0.8)), url(../img/bubble-bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.skills__heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 6rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all 1s; }
  .skills__heading:hover {
    color: #ffb700; }
  @media only screen and (max-width: 37.5em) {
    .skills__heading {
      font-size: 5rem; } }

.skills__box {
  padding: 5rem;
  text-align: center; }
  .skills__box--img {
    height: 15rem;
    width: 15rem;
    transition: all .5s; }
    .skills__box--img:hover {
      transform: scale(1.5);
      filter: drop-shadow(3rem 1rem 1rem #0a93a0); }
  .skills__box:hover .skills__box--img:not(:hover) {
    transform: scale(0.7); }
  .skills__box--link:visited, .skills__box--link:link {
    text-decoration: none; }
  .skills__box--link:hover {
    transform: scale(1.5); }
  .skills__box:hover .skills__box--link:not(:hover) {
    transform: scale(0.1);
    opacity: .5; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: #fff;
  position: sticky;
  background: rgba(13, 191, 204, 0.8);
  top: 0;
  z-index: 100; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      gap: 0;
      justify-content: space-evenly;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      gap: 0;
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .navbar__name {
      display: none; } }
  .navbar__name:link, .navbar__name:visited {
    color: #333;
    font-size: 5.5rem;
    transition: all .7s;
    text-decoration: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */ }
  .navbar__name:hover {
    color: #ffb700;
    text-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.5); }
  .navbar__list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: 10px; }
    @media only screen and (max-width: 56.25em) {
      .navbar__list {
        gap: 0;
        justify-content: space-evenly;
        padding: 2rem;
        width: 100vw; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__list {
        gap: .2rem;
        padding: 0;
        justify-content: center; } }
  .navbar__link:link, .navbar__link:visited {
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all .7s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */ }
    @media only screen and (max-width: 37.5em) {
      .navbar__link:link, .navbar__link:visited {
        padding: .3rem .6rem;
        font-size: 1.5rem; } }
  .navbar__link:hover {
    background-color: #fff;
    color: #ffa200;
    border-radius: 100px;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.15); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  .section-about p a:link, .section-about p a:visited {
    background-color: #f7f7f7;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .section-about p a:hover, .section-about p a:active {
    color: #ffa200;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.section-skills {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(13, 191, 204, 0.6), rgba(10, 147, 160, 0.8));
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-skills > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-skills {
      padding: 10rem 0; } }

.section-portfolio {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem; }
  @media only screen and (max-width: 56.25em) {
    .section-portfolio {
      padding: 20rem 0 10rem 0; } }
