.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        /* transition goes on the element, not the hover property  */
        transition: all .2s;
        position: relative;
        font-size: $large-font-size;

        // change for the <Button> element
        border: none;
        cursor: pointer;

    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            background-color: inherit;
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--arrow,
    &:link,
    &:focus {
        color: $color-secondary-dark;
        font-size: $huge-font-size;
        filter: brightness(0.8);

        &:hover {
            box-shadow: none;
            filter: brightness(0.6);
        }

        &:active,
        &:focus {
            box-shadow: none;
            transform: translateY(-.3rem) scale(1.1);
            filter: brightness(0.8);
        }
    }
}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transform: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);

    }
}


.arrow-button {
    border: solid $color-primary;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 3rem;
    background-color: transparent;

    &__right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &__left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }


}