.portfolio {
    // position: relative;
    display: flex;
    justify-content: center;

    &__border {
        width: 75%;
        // height: 70rem;
        @include respond(phone) {
            width: 98%;
            padding-left: .3rem;
            padding-right: .3rem;
        }

    }

    &__carousel {
        // position: relative;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    &__slide {
        // position: absolute;
        inset: 0;
        animation: appear 2s ease-out;
    }
    &__btn {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        align-items: center;
    }


    &__btn-prev {
        // position: absolute;
        // top: 8rem;
        // left: 12rem;
        margin: 3rem;
        cursor: pointer;

        &:hover,
        &:active {
            filter: brightness(0.9);
        }

    }

    &__btn-next {
        // position: absolute;
        // top: 8rem;
        // right: 12rem;
        margin: 3rem;

        cursor: pointer;

        &:hover,
        &:active {
            filter: brightness(0.9);
        }

    }

    &__select {
        height: 2rem;
        width: 2rem;
        background-color: $color-grey-dark-2;
        border-radius: 50%;
        display: inline-block;
        border: none;
        margin: .5rem;

        &--focus {
            background-color: $color-primary;
        }

    }

    &__container {

        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        @include respond(tab-land) {
            display: block;
          }
    }

    &__project-video {
        min-height: 31.5rem;
        min-width: 56rem;
        border-radius: 1.5rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        @include respond(tab-land) {
            min-width: 20rem;
            min-height: 10rem;
            // display: inline-block;
        }
        @include respond(phone) {
            min-width: 10rem;
            min-height: 5rem;
            // display: inline-block;
        }
    }

    &__project-btn {
        align-self: end;
        @include respond(tab-land) {
            display: inline-block;

        }

        &:visited,
        &:link {
            text-decoration: none;
            color: $color-white;
            background-color: $color-primary;
            font-size: 2rem;
            transition: all .2s;
            padding: 1rem 2rem;
            border-radius: .3rem;
        }

        &:hover {
            color: $color-white;
            text-shadow: 0 .5rem 1rem rgba($color-black, .2);
            transform: translateY(-3px);
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            text-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
    }



    &__link--1 {

        &:link,
        &:visited {
            background-color: $color-grey-light-1;
            color: $color-grey-dark;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}