@keyframes text-shadow {
    0% {
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0);
    transform: translate(6rem, 6rem);
    opacity: 0;

    }
    100% {
    text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
    transform: translate(0rem, 0rem);
    opacity: 1;
    }
}